body{
}

#maps{
  background:url(atlas.png) 40px 9px no-repeat;
  font: 12px Arial, sans-serif;
}

#maps > a{
  display:block;
  float:left;
  background:url(home-arrow.png) 1px left no-repeat;
  width:17px;
  height:18px;
  margin:20px 0 0 16px;
  text-indent:-99999px;
}
#maps > a:hover{
  background:url(home-arrow.png) -17px left no-repeat;
}

#maps ul{
  list-style-type:none;
  margin:28px 0 0 80px;
}
#maps li{
  float:left;
  margin-right:20px;
}

#maps li a{
  text-decoration:none;
  color:#999;
}

#maps li a:hover{
  color:red;
}

#maps li a.active{
  font-weight:bold;
  color:#333;
}

#dataset{
  position:fixed;
  bottom:20px;
  right:20px;
  font: 10px Arial, sans-serif;
  background:white;
}

#dataset a{
  color:#666;
  text-decoration:none;
}

#dataset a:hover{
  color:black;
  text-decoration:underline;
}



